<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Full Portfolio</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
</head>
<body>
    <header id="header">
        <div class="inner">
            <a href="#" class="image avatar"><img src="static/img/chioms.png" alt="" /></a>
            <h1><strong>Hello! My name is Chioma Amuwa</strong>, <br />  I am a Data Analyst,<br />
            Web Developer and Python Programmer.<br /><br />This is my Full Portfolio:<br /></h1>
        </div>
    </header>
    <div id="main">
        <section id="two">
            <h2>Recent Work</h2>
            <div class="row">
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://colab.research.google.com/drive/1Mz-rC1ZVYcgp5Q_Cv5Qkzavq4mxNpOA-" class="image fit thumb"><img src="static/img/analysis.jpg" alt="" /></a>
                    <h3>Data Analysis</h3>
                    <p>I analysed data that predicted House Prices in Chicago in the 1970s.</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://github.com/chioma18/Morse-Code-Converter" class="image fit thumb"><img src="static/img/morse.jpg" alt="morse-code-converter" /></a>
                    <h3>Morse Code Converter</h3>
                    <p>A quick command line project to convert text to Morse Code.</p>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://colab.research.google.com/drive/1Mo77ojzPMfgoUr8lh5F9i71kE5jF7Hva" class="image fit thumb"><img src="images/thumbs/06.jpg" alt="" /></a>
                    <h3>Data Analysis</h3>
                    <p>I analysed data that showed deaths of mothers during births due to childbed infections and how hand wahing became a thing.</p>
                </article>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://github.com/chioma18/chioma-blog" class="image fit thumb"><img src="static/img/blog.jpg" alt="my-blog" /></a>
                    <h3>Blog</h3>
                    <p>This is not a real blog. I was trying my hand at learning html, css and java. So i created this.</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://github.com/chioma18/CV" class="image fit thumb"><img src="static/img/cv.jpg" alt="" /></a>
                    <h3>My CV</h3>
                    <p>I wrote code to create a website to host my CV.</p>
                </article>
                <article class="col-6 col-12-xsmall work-item">
                    <a href="https://github.com/chioma18/Web-Scraping" class="image fit thumb"><img src="static/img/scrape.jpg" alt="" /></a>
                    <h3>Web Scraping</h3>
                    <p>I scraped a real estate website to analyse the data.</p>
                </article>
            </div>
        </section>
    </div>

    <footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://twitter.com/chioma_amuwa" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/chioma18" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/chioma-amuwa-1a2b9b1a8/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="mailto:chioma.amuwa@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Chioma Amuwa 2022</li>
        </ul>
    </div>
</footer>


                <!-- Scripts -->
                    <script src="static/assets/js/jquery.min.js"></script>
                    <script src="static/assets/js/jquery.poptrox.min.js"></script>
                    <script src="static/assets/js/browser.min.js"></script>
                    <script src="static/assets/js/breakpoints.min.js"></script>
                    <script src="static/assets/js/util.js"></script>
                    <script src="static/assets/js/main.js"></script>
</body>
</html>